.tab {
  overflow: hidden;
  border: 1px solid navy;
  background-color: palevioletred;
    
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 20px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rebeccapurple;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: plum;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}